body {
    font-family: sans-serif;
    background-color: gray;
}

.playButton {
    background-color: rgb(180, 32, 32);
    color: yellow;
    text-align: center;
    width: 100px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    text-transform: uppercase;
    border: 3px yellow solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

.playButton:hover {
    background-color: yellow;
    color: #b42020;
    border: 3px rgb(180, 32, 32) solid;
}

ul {
    margin: 0;
    padding: 0;
    line-height: 100px;
}

nav {
    margin-left: auto;
}

li {
    display: inline-flex;
    margin: 0 20px;
}

.logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url(images/DragonLand_logo.png);
    background-size: cover;
}

.logo:hover {
    background-image: url(images/dragonland_logo_red.png);
}

header {
    background-color: gray;
    height: 100px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

header {
    padding: 0 20%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #b42020;
}

.action {
    background-image: linear-gradient(
    to bottom,
    rgba(152, 152, 130, 0.3),
    rgba(110, 110, 124, 0.3)
    ), url("images/dragon_cover.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.races, .classes {
    color: black;
    background-color: gray;
    border: solid black 3px;
}

.races h1, .classes h1 {
    text-align: left;
}

.races div, .classes div {
    width: 250px;
    height: 200px;
    background-color: blue;
    margin: 0;
    text-align: center;
    display: inline-block;
}


