main {
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

section {
    display: flex;
    align-items: center;
}

input[type='submit'] {
    margin: 20px 0;
    width: 100px;
}

