/* General */

body {
    background-color: rgb(222, 206, 206);
    font-family: sans-serif;
    margin: auto auto;
    text-align: center;
}

a {
    color: black;
}

/* Lists */

ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}


section ul {
    text-align: left;
    margin: 0px 50px;
}

/* Images */

img {
    width: 300px;
    max-width: 100%;
}

.aboutUs img {
    width: 100%;
}

.contact img {
    width: 80%;
    margin: 30px 0;
}

/* Containers */

section, header {
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    background-color: whitesmoke;
    padding: 40px 20px;
}

/* Specific */

.aboutUs p {
    text-align: justify;
}

.product, p span {
    font-weight: bold;
}

.products div {
    padding: 20px 0;
}

div p {
    margin: 5px 0;
}

footer {
    color: rgb(79, 79, 79);
    margin: 50px;
}

.products h2 {
    margin-top: 50px;
}