body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 2px solid lightgray;
}

img {
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.hero {
    background-image: url(images/building.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 81.85px);
    min-height: 220px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 1px #000000;
}

.hero ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hero ul li {
    margin: 20px;
    width: 90px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 1px 1px #000000;
}

/* Paklausti ar teisingai */
.hero ul a:first-child li {
    border-right: 5px solid crimson;
    color: crimson;
}

.hero ul a:nth-child(2) li {
    border-right: 5px solid green;
    color: green;
}

.hero ul a:last-child li {
    border-right: 5px solid blue;
    color: blue;
}

.hero ul a:first-child li:hover {
    background-color: crimson;
    color: white;
}

.hero ul a:nth-child(2) li:hover {
    background-color: green;
    color: white;
}

.hero ul a:last-child li:hover {
    background-color: blue;
    color: white;
}
